# Training a machine learning model to be deployed on a javascript app with Onnyx

In [1]:
!pip install -q skl2onnx
import pandas as pd

Requirement already satisfied: skl2onnx in /opt/anaconda3/lib/python3.8/site-packages (1.10.0)
Requirement already satisfied: onnxconverter-common>=1.7.0 in /opt/anaconda3/lib/python3.8/site-packages (from skl2onnx) (1.8.1)
Requirement already satisfied: onnx>=1.2.1 in /opt/anaconda3/lib/python3.8/site-packages (from skl2onnx) (1.10.2)
Requirement already satisfied: scipy>=1.0 in /opt/anaconda3/lib/python3.8/site-packages (from skl2onnx) (1.5.4)
Requirement already satisfied: protobuf in /opt/anaconda3/lib/python3.8/site-packages (from skl2onnx) (3.19.1)
Requirement already satisfied: numpy>=1.15 in /opt/anaconda3/lib/python3.8/site-packages (from skl2onnx) (1.19.5)
Requirement already satisfied: scikit-learn>=0.19 in /opt/anaconda3/lib/python3.8/site-packages (from skl2onnx) (0.23.2)
Requirement already satisfied: typing-extensions>=3.6.2.1 in /opt/anaconda3/lib/python3.8/site-packages (from onnx>=1.2.1->skl2onnx) (3.7.4.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.8/site-packages (from onnx>=1.2.1->skl2onnx) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.19->skl2onnx) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /opt/anaconda3/lib/python3.8/site-packages (from scikit-learn>=0.19->skl2onnx) (1.0.1)

You need 'skl2onnx' to help convert your Scikit-learn model to Onnx format.

In [2]:
data = pd.read_csv('cleaned_cuisines.csv')
data.head()

,Unnamed: 0,cuisine,a,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,65,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,66,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,67,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,68,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,69,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [3]:
data .shape

(3995, 383)

In [4]:
X = data.iloc[:,2:]
X.head()

,a,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,65,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,66,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,67,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,68,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,69,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [5]:
y = data[['cuisine']]
y.head()

  cuisine
0  indian
1  indian
2  indian
3  indian
4  indian

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score,precision_score,confusion_matrix,classification_report

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [ ]:
model = SVC(kernel='linear', C=10, probability=True,random_state=0)
model.fit(X_train,y_train.values.ravel())

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
print(classification_report(y_test,y_pred))